@import 'src/app/appStyles/colors_v2';
@import 'src/app/appStyles/typography';

:local(.styles) {
	width: 100%;
    margin-top: 1rem;

    .datepicker {
        .i-input {
            height: 30px;
            font-size: 12px;
            padding: 4px 10px;
            padding-left: 28px;
            text-align: center;
        }

        .i-input-icon {
            top: 5px;
            left: 5px;
        }
    }

    .slider-container {
        .rc-slider {
            .rc-slider-track {
                background-color: $itinerumPrimaryBlue;
            }

            .rc-slider-step {
                .rc-slider-dot-active {
                    background-color: $itinerumPrimaryBlue;
                    border-color: $itinerumPrimaryBlue;
                }
            }

            .rc-slider-handle {
                border-color: $itinerumPrimaryBlue;
                box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.15);
            }
        }
    }
}
