@import 'src/app/appStyles/typography';
@import 'src/app/appStyles/colors';
@import 'src/app/appStyles/screens';


:local(.styles) {
    .map-header {
        padding: 0;
        background: white;

        .actions-container {
            padding: 0;

            .btn-group {
                margin: 0 auto;

                .tripbreaker-parameters {
                    font-size: 1em;
                    padding: 0.3em 0 0 0.5em;

                    a {
                        display: block;
                        padding: 0.6em 0em 0em 0;
                        color: #666;

                        &:hover {
                            cursor: pointer;
                            color: $DMblue;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .btn-primary {
            background-color: $DMblue;
            border: 1px solid white;
            border-radius: 0.3em;
            font-size: 12px;
            

            i {
                top: 1px;
                color: white;
            }
        }

        .btn-disabled {
            border: 1px solid white;
            border-radius: 0.3em;
            font-size: 12px;

            i {
                top: 1px;
                color: #666;
            }            
        }
    }

    .content-wrapper {
        margin-top: 0em;
        font-family: $lato;
    }

    .map-container {
        width: 100%;
        position: relative;
        top: 0;
        padding: inherit;
        overflow: hidden;
    }

    .uuid-dropdown-label {
        margin-top: 1em;
    }
    .uuid-dropdown {
        width: 100%;
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        margin: inherit;
        padding: 0 3em;
    }

    .match-map {
        margin-top: 1.8em;
        color: white;
        border-radius: 2px;
        font: bold 11pt/11pt $lato;
        background-color: $DMblue;
        box-shadow: $shadow;
        padding: 0.5em;
        display: inline-block;
        position: absolute;
        right: -2em;
    }

    .map-element {
        // This works, but is there a better way to accomplish this?
        // Panel header seems to push leaflet map down after leaflet
        // has determined height from 100% of original mounted container
        
        height: calc(100% - 62px);
        @media (#{$phone}) {
            height: calc(100% - 95px);
        }
    }

}
